@import "src/components";

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.auction .layout__drawer-button {
  background: url($image_path + "/ic_menu_white_24px.svg") center no-repeat;
}


.products {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & .product {
    margin: 5px 0;
    width: 96%;

    @media screen and (min-width: $grid-tablet-breakpoint) {
      margin: 5px 2%;
      width: 46%;
    }

    @media screen and (min-width: $grid-desktop-breakpoint) {
      margin: 5px;
      width: 290px;
    }
  }

  & .mdl-button {
    background-color: unquote("rgb(#{$palette-orange-700})");
    color: $button-secondary-color-alt;

    &:hover {
      background-color: unquote("rgb(#{$palette-orange-300})");
    }
  }

  @media screen and (min-width: $grid-desktop-breakpoint) {
    & .product--detail {
      flex-direction: row;
      width: 100%;
      max-width: $layout-header-footer-max-width;

      & .mdl-card__detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.product__timeLeft {
  line-height: $button-height;
  margin-left: 10px;
}


.mdl-card__title-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pagination {
  text-align: center;
  padding-bottom: 2%;

  & .pagination__item {
    padding: 10px;
    font-size: $card-font-size;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .pagination__item--active {
    color: $button-fab-color-alt;

    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
}

.breadcrumbs {
  padding: 2% 4% 0;
  max-width: $layout-header-footer-max-width;
  margin: 0 auto;
}

.map {
  display: none;
  padding: 2%;
}
